<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {pageTitle: 'Edicion del producto'}) %>

  <body>
    <header><%- include('../partials/navBar') %></header>

    <main>
      <section class="main-form">
        <form
          action="/products/<%=productData.id%>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-header">
            <img src="/img/logo-2.png" alt="logo 2" />
          </div>

          <section class="productName-field">
            <input
              type="text"
              name="name"
              id="productName"
              placeholder="Ingresar nombre producto"
              minlength="3"
              value="<%=productData.name%>"
            />
            <label for="productName">Ingresar nombre producto</label>
          </section>

          <!-- <section class="productColor-field">
            <input
              type="text"
              name="color"
              id="productColor"
              placeholder="Ingresar color producto"
              value="<%=productData.color%>"
            />
            <label for="productColor">Ingresar color producto</label>
          </section> -->
          <section class="productPrice-field">
            <input
              type="text"
              name="price"
              id="productPrice"
              placeholder="Ingresar precio producto"
              value="<%=productData.price%>"
            />
            <label for="productPrice">Ingresar precio producto</label>
          </section>

          <section class="productCategory-field">
            <label for="productCategory"
              >Selecciona una categoría
              <select name="category" id="productCategory">
                <option value="organicos" <%=productData.category=="organicos"?"selected":""%>>Orgánicos</option>
                <option value="flora y jardin" <%=productData.category=="flora y jardin"?"selected":""%>>Flora Y Jardín</option>
                <option value="cuidado personal" <%=productData.category=="cuidado personal"?"selected":""%>>Cuidado Personal</option>
                <option value="hogar" <%=productData.category=="hogar"?"selected":""%>>Hogar</option>
              </select></label
            >
          </section>

          <section class="uploadImage-field">
            <label for="file">Cargar imagen</label>
            <input
              type="file"
              id="file"
              name="image"
              class="uploadImage-field"
            />
          </section>

          <section class="productDescription-field">
            <textarea
              type="text"
              name="description"
              id="productDescription"
              placeholder="Ingresar descripción producto"
            ><%=productData.description%></textarea>
            <label for="productDescription"
              >Ingresar descripción producto</label
            >
          </section>
          <section class="productDescription-field">
            <textarea
              type="text"
              name="technical_description"
              id="productTechnicalDescription"
              placeholder="Ingresar descripción técnica del producto"
            ><%=productData.technical_description%></textarea>
            <label for="productTechnicalDescription"
              >Ingresar descripción técnica del producto</label
            >
          </section>

          <section class="productDescription-field">
            <textarea
              type="text"
              name="other_specifications"
              id="productOthersDescription"
              placeholder="Ingresar otras descripciones del producto"
            ><%=productData.other_specifications%></textarea>
            <label for="productOthersDescription"
              >Ingresar otras descripciones del producto</label
            >
          </section>

          <section class="section-buttons">
            <button type="submit">ACTUALIZAR</button>
            <button type="reset">LIMPIAR</button>
          </section>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
